
body {
  margin: 0px;
  
  .app-body {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
    .nav-bar {
      height: 100%;
      width: 150px;
      padding: 10px;
      background-color: #23283E;
      display: flex;
      flex-direction: column;
      
      h4 {
        align-self: center;
        color: #8CC83C;
      }

      .link-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        
        .link-item {
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    
    .angular-body {
      @import '../pages/home/home.scss';
      @import '../pages/search/search.scss';
      @import '../directives/infoCard/infoCard.scss';

      height: 100%;
      width: 100%;
      background-color: lightgrey;
      padding: 10px 20px;
    }
    
  }
}

