<div ng-controlle='searchController'>
  <p> {{ title}} </p>
  <form>
    <input ng-model='searchInput'></input>
    <input type='submit' ng-click='handleClick()' value='Search'></input>
  </form>
  <div ng-hide="searchInput === ''">
    <p>Searching for text: "{{searchInput}}" <a href="" ng-click='clearSearch()'>X</a></p>
  </div>
  <div ng-hide="recipes === ''">
    <h4>Results</h4>
    <div class='recipe-result'>
      <div ng-repeat='recipe in recipes'>
        <info-card 
          title='{{recipe.name}}'
          image-url='{{recipe.beauty_url}}'
        />
      </div>
    </div>
  </div>
</div>
